<template>
  <div>
    <Header />
    <MainHeading message="Rendy's To-do app" />
    <Todos />
  </div>
</template>

<script>
// @ is an alias to /src
import Header from "@/components/Home/Header";
import MainHeading from "@/components/Home/MainHeading";
import Todos from "@/components/Home/Todos";

export default {
  name: "Home",
  components: {
    Header,
    MainHeading,
    Todos
  }
};
</script>
