<template>
  <form v-if="!isLoading" class="add-todo" @submit="handleSubmit">
    <TextareaAutogrow
      :propsTitle="computedTitle"
      :propsIsCompleted="false"
      :propsAlwaysShowUnderline="true"
      :propsIsFullWidth="true"
      :propsPlaceholder="
        'Write a new to-do item for User ' + this.$store.getters.currentUser
      "
      @update-title="handleUpdateTitle"
    />
    <button class="add-todo__btn">Add to list</button>
  </form>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

import TextareaAutogrow from "@/components/common/TextareaAutogrow.vue";

export default {
  name: "AddTodo",
  components: {
    TextareaAutogrow
  },
  data() {
    return {
      title: "",
      isCompleted: Boolean
    };
  },
  computed: {
    computedTitle: {
      get() {
        return this.title;
      },
      set(newTitle) {
        this.title = newTitle;
      }
    },
    ...mapGetters(["isLoading"])
  },
  methods: {
    ...mapActions(["addTodo"]),
    handleSubmit(event) {
      event.preventDefault();
      this.addTodo(this.computedTitle);
      this.computedTitle = "";
    },
    handleUpdateTitle(newTitle) {
      this.computedTitle = newTitle;
    }
  }
};
</script>

<style lang="scss" scoped>
.add-todo {
  display: flex;
  flex-direction: column;

  .add-todo__btn {
    background: #36495d;
    color: white;
    border: 0;
    outline: 0;
    margin: 1rem 0 0;
    padding: 0.1rem 2.1rem;
    font-size: 1.4rem;
    line-height: 2.6rem;
    font-weight: 600;
    border-radius: 0.3rem;
    cursor: pointer;
    flex: 0;
    align-self: flex-end;

    &:focus,
    &:hover {
      box-shadow: 0 0 12px 0 rgba(16, 21, 23, 0.12);
    }
  }
}
</style>
