<template>
  <header>
    <img class="logo" alt="Vue logo" src="../../assets/logo.png" />
    <UserSelector />
  </header>
</template>

<script>
import UserSelector from "@/components/Home/UserSelector";

export default {
  name: "Header",
  components: { UserSelector }
};
</script>

<style lang="scss" scoped>
header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    width: 2.5rem;
    height: 2.5rem;
    margin: 2.5rem 0;
  }
}
</style>
