<template>
  <h1>{{ message }}</h1>
</template>

<script>
export default {
  name: "MainHeading",
  props: {
    message: String
  }
};
</script>

<style lang="scss" scoped>
h1 {
  font-size: 3rem;
  line-height: 3rem;
}
</style>
