<template>
  <ul class="todos-wrap">
    <li v-if="isLoading">Loading list...</li>
    <li v-for="todo in todosByUser" :key="todo.id">
      <Todo :todoId="todo.id" :title="todo.title" :isChecked="todo.completed" />
    </li>
    <AddTodo />
  </ul>
</template>

<script>
import { mapGetters } from "vuex";

import Todo from "@/components/Home/Todo";
import AddTodo from "@/components/Home/AddTodo";

export default {
  name: "Todos",
  components: {
    Todo,
    AddTodo
  },
  computed: {
    ...mapGetters(["todos", "currentUser", "isLoading"]),
    todosByUser() {
      return this.todos.filter(todo => {
        return todo.userId === parseInt(this.currentUser);
      });
    }
  }
};
</script>

<style lang="scss" scoped>
.todos-wrap {
  list-style: none;
  padding: 0;
  font-size: 1.6rem;
}
</style>
