<template>
  <div class="todo-wrap">
    <input
      class="todo-wrap__checkbox"
      type="checkbox"
      :id="this.todoId"
      v-model="isCompleted"
    />
    <label :for="this.todoId"></label>
    <TextareaAutogrow
      :propsTitle="computedTitle"
      :propsIsCompleted="isCompleted"
      @update-title="handleUpdateTitle"
    />
    <button class="todo-wrap__btn" @click="handleClick">
      <span>Remove</span>
    </button>
  </div>
</template>

<script>
import { mapActions } from "vuex";

import TextareaAutogrow from "@/components/common/TextareaAutogrow";

export default {
  name: "Todo",
  props: {
    todoId: Number,
    title: String,
    isChecked: Boolean
  },
  components: {
    TextareaAutogrow
  },
  computed: {
    isCompleted: {
      get() {
        return this.isChecked;
      },
      set(isCompleted) {
        this.completeTodo({ id: this.todoId, isCompleted });
      }
    },
    computedTitle: {
      get() {
        return this.title;
      },
      set(newTitle) {
        this.updateTitle({ id: this.todoId, newTitle });
      }
    }
  },
  methods: {
    ...mapActions(["completeTodo", "updateTitle", "removeTodo"]),
    handleClick() {
      this.removeTodo(this.todoId);
    },
    handleUpdateTitle(newTitle) {
      this.computedTitle = newTitle;
    }
  }
};
</script>

<style lang="scss" scoped>
$lynch: #637480;
$light-sea-green: #1de0c0;
$svg-path: "../../assets/";
$svg-ext: ".svg";
$svg-check: "check";

@mixin svg($svg-name) {
  background-image: url("#{$svg-path}#{$svg-name}#{$svg-ext}");
  background-repeat: no-repeat;
}

.todo-wrap {
  display: flex;
  margin: 0 0 2.4rem;

  .todo-wrap__btn {
    flex: 0;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background: none;
    background-image: url("../../assets/close.svg");
    border: 0;
    outline: 0;
    padding: 0;
    cursor: pointer;

    span {
      opacity: 0;
    }
  }

  .todo-wrap__checkbox {
    flex: 0;
    opacity: 0;
    position: absolute;

    &:checked {
      + label {
        &:before {
          @include svg($svg-check);
          border-color: $light-sea-green;
        }
      }
    }

    + label {
      &:before {
        content: "";
        width: 1.6rem;
        height: 1.6rem;
        display: inline-block;
        border-radius: 0.2rem;
        border: 0.1rem solid black;
        background-color: white;
        vertical-align: text-top;
      }
    }
  }
}
</style>
