<template>
  <select
    v-if="!isLoading"
    class="user-selector"
    :value="currentUser"
    @change="handleChange($event)"
  >
    <option
      class="user-selector__option"
      v-for="user in users"
      :key="user"
      :value="user"
      >User {{ user }}</option
    >
  </select>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "UserSelector",
  methods: {
    ...mapActions(["setCurrentUser"]),
    handleChange(event) {
      this.setCurrentUser(event.currentTarget.value);
    }
  },
  computed: {
    ...mapGetters(["isLoading", "users", "currentUser"])
  }
};
</script>

<style lang="scss" scoped>
.user-selector {
  font-size: 1.2rem;
  padding: 0.8rem 2rem 0.8rem 0.8em;
  box-sizing: border-box;
  border: 1px solid #637480;
  border-radius: 0.3rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: white;
  background-image: url("../../assets/options.svg");
  background-repeat: no-repeat;
  background-position: right 1rem top 50%;
  background-size: 0.65em auto;
  outline: 0;
  color: #3a4347;
}
</style>
