<template>
  <div
    class="textarea-autogrow"
    :class="{
      'textarea-autogrow--completed': propsIsCompleted,
      'textarea-autogrow--always-show-underline': propsAlwaysShowUnderline,
      'textarea-autogrow--is-full-width': propsIsFullWidth
    }"
  >
    <textarea
      disabled
      class="textarea-autogrow__gauge"
      v-model="computedTitle"
      ref="inputGauge"
    ></textarea>
    <textarea
      class="textarea-autogrow__input"
      v-model="computedTitle"
      :style="computedCssInputHeight"
      @input="$emit('update-title', computedTitle)"
      :placeholder="propsPlaceholder"
    ></textarea>
  </div>
</template>

<script>
export default {
  name: "TextareaAutogrow",
  props: {
    propsTitle: String,
    propsIsCompleted: Boolean,
    propsAlwaysShowUnderline: Boolean,
    propsIsFullWidth: Boolean,
    propsPlaceholder: String
  },
  data() {
    return {
      inputHeight: Number,
      title: String
    };
  },
  computed: {
    computedCssInputHeight: {
      get() {
        return { height: this.inputHeight + "px" };
      },
      set(newHeight) {
        this.inputHeight = newHeight;
      }
    },
    computedTitle: {
      get() {
        return this.title;
      },
      set(newTitle) {
        this.title = newTitle;
      }
    }
  },
  watch: {
    propsTitle: function(newTitle) {
      this.computedTitle = newTitle;
    }
  },
  methods: {
    refreshInputHeight() {
      this.computedCssInputHeight = this.$refs.inputGauge.scrollHeight;
    }
  },
  created() {
    this.computedTitle = this.propsTitle;
  },
  mounted() {
    this.refreshInputHeight();
    window.addEventListener("resize", this.refreshInputHeight, true);
  },
  updated() {
    this.refreshInputHeight();
  },
  beforeDestroy() {
    window.removeEventListener("resize", this.refreshInputHeight, true);
  }
};
</script>

<style lang="scss" scoped>
$text-margin-bottom: 0;
$input-text-height: 1.4rem;
$text-border-thickness: 0.1rem;
$input-border-bottom: $text-border-thickness solid #2c3e50;

.textarea-autogrow {
  position: relative;
  margin: -0.2rem 2rem $text-margin-bottom 1rem;
  display: flex;
  flex-direction: column;
  flex: 1;

  &.textarea-autogrow--completed {
    .textarea-autogrow__input {
      text-decoration: line-through;

      &:focus,
      &:hover {
        text-decoration: none;
      }
    }
  }

  &.textarea-autogrow--always-show-underline {
    .textarea-autogrow__input {
      border-bottom: $input-border-bottom;

      &:focus,
      &:hover {
        margin-bottom: 0;
      }
    }
  }

  &.textarea-autogrow--is-full-width {
    margin-left: 0;
    margin-right: 0;
  }

  .textarea-autogrow__input,
  .textarea-autogrow__gauge {
    padding: 0;
    font-size: 1.4rem;
    line-height: 2.4rem;
    border: 0;
    outline: 0;
    resize: none;
    width: stretch;
    min-height: $input-text-height;
  }

  .textarea-autogrow__gauge {
    position: absolute;
    opacity: 0;
    z-index: 0;
    height: 0;
  }

  .textarea-autogrow__input {
    z-index: 1;

    &:focus,
    &:hover {
      border-bottom: $input-border-bottom;
      margin-bottom: $text-margin-bottom - $text-border-thickness;
    }
  }
}
</style>
