<template>
  <div id="app">
    <router-view />
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import { isEmptyObject } from "./helpers";

export default {
  name: "App",
  data() {
    return { apiPath: "https://jsonplaceholder.typicode.com/todos" };
  },
  methods: {
    ...mapActions(["setTodos", "setUsers", "setCurrentUser", "setIsLoading"])
  },
  computed: {
    ...mapGetters(["users", "todos", "isLoading"])
  },
  watch: {
    todos: function(newTodos, oldTodos) {
      if (newTodos !== oldTodos && !isEmptyObject(oldTodos)) {
        fetch(this.apiPath, {
          method: "POST",
          headers: {
            Accept: "application/json",
            "Content-Type": "application/json"
          },
          body: JSON.stringify(newTodos)
        });
      }
    }
  },
  created() {
    this.setIsLoading(true);
    fetch(this.apiPath)
      .then(response => response.json())
      .then(data => {
        const users = Object.keys(data).map(key => {
          return data[key].userId;
        });
        this.setUsers(Array.from(new Set(users)));
        this.setCurrentUser(this.users[0]);
        this.setTodos(data);
        this.setIsLoading(false);
      });
  }
};
</script>

<style lang="scss">
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1200px;

html {
  font-size: 62.5%;

  body {
    margin: 0;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;

    #app {
      font-family: "Avenir", Helvetica, Arial, sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      color: #2c3e50;
      width: 310px;
      margin: 0 0 2.5rem;

      @media (min-width: $tablet-breakpoint) and (max-width: $desktop-breakpoint - 1) {
        width: 728px;
      }

      @media (min-width: $desktop-breakpoint) {
        width: 1128px;
      }
    }
  }
}
</style>
